:root {
  --tipografia-color:black;
  --borde-color-2: gray;
  --pagina-fondo:#cdcdcd;
  --tipografia-familia: "Newsreader", serif;
  --input-fondo:white;
  --boton-secundario-focus-fondo: transparent;
  --boton-secundario-focus-sombra:#837b66;
  --boton-secundario-hover-sombra:#837b66;

  --boton-secundario-focus-color:#343434;
  --boton-secundario-borde:transparent;
  --boton-secundario-hover-borde: transparent;
  --boton-secundario-focus-borde:transparent;
  --contenedor-vis-alto-minimo-vis:0;
}
body *:not(a.marca) {
  font-family:"Montserrat", serif;
}



